$link-color:#505050;
$cir-1color:#265781;
$cir-2color:#52B27B;
$cir-3color:#F2E162;
$white-color :#fff;
$sub-heading-color:#706960;
$display-color: rgba(0, 0, 0, 0.1);
$btn-color:#F2E162;
$border-color:#505050;
$bg-color:#F2E162;